@import '../../styles.scss';

.backdrop{
    top: 0;
    left:0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(8, 8, 8, 0.61);
}

.main-window{
    top: 4em;
    padding: 1em;
    width: 320px;
    color: black;
    position: fixed;
    margin-right: auto;
    border-radius: .2em;
    border: 2px solid $primary;
    background-color: $background;
    left: calc(50vw - 160px - 1em);
}

input{
    width: 90%;
    border: none;
    outline: none;
    padding: .4em;
    margin-bottom: 1em;
    border-radius: .2em;
    background: transparent;
    border-bottom: solid 3px $secondary;
}

.link-container{
    margin-bottom: 1.5em;
    font-family: monospace;
}

.link-container a{
    color: whitesmoke;
}
