<div>
  <div id="hanging-man-container"><hanging-man [width]="'70px'" [attempts]="_game.mistakes"></hanging-man></div>
  <word-display [word]="_game.loading ? 'loading...' : _game.wordDisplay"></word-display>
  <ng-container *ngIf="!_game.errorFlag" [ngSwitch]="_game._status">

    <ng-container *ngSwitchCase="'playing'">
      <keyboard (readKey)="typedKey($event)" [(disabled)]="_game.attempts"></keyboard> 
    </ng-container>

    <ng-container *ngSwitchCase="'won'">
      <!-- WON MESSAGE -->
      <div class="center">
          <div class="center">
              <h2 class="fancy-font">🏆 Good job!</h2>
              <button (click)="newGame()">PLAY AGAIN</button><br>
              <ng-container *ngIf="_game.allowSaveScore">
                <button (click)="showGameModal=true">SAVE SCORE</button><br>
                <simple-modal [(show)]="showGameModal" [config]="_game.saveScoreModalConfig" (value)="_game.saveScoreForPlayer($event)"></simple-modal>
              </ng-container>
              <button (click)="makeChallenge()">CHALLENGE A FRIEND</button><br>
          </div>
      </div>
    </ng-container>

    <ng-container *ngSwitchCase="'lost'">
      <!-- LOST MESSAGE -->
      <div class="center">
          <h2 class="fancy-font">😱 Oh no!</h2>
          <button (click)="newGame()">TRY AGAIN</button>
          <button (click)="makeChallenge()">CHALLENGE A FRIEND</button>
      </div>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="_game.errorFlag">
      <!-- ERROR MESSAGE -->
      <div class="center">
          <div class="center">
              <h2 class="fancy-font">👾 Something went wrong!</h2>
              <button>BACK HOME</button>
          </div>
      </div>
    </ng-container>
  
  <div *ngIf="viewDebugger">
      <h4>👾 Debug zone</h4>
      <pre>{{JSON.stringify(_game, undefined, 2)}}</pre>
  </div>
  
</div>

<!-- CHALLENGE MODALS -->
<simple-modal [(show)]="showMakeChallengeModal" 
              [config]="{title:'Whats your word?', inputPlaceholder:'word', okButtonLabel:'DONE', cancelButtonLabel:'BACK'}" 
              (value)="makeChallengeLink($event)"></simple-modal>
<simple-modal [(show)]="showReadyChallengeModal" 
              [config]="challengeModalConfig"></simple-modal>
