/* You can add global styles to this file, and also import other style files */

/* FONTS */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
@import url('https://fonts.googleapis.com/css?family=VT323');
/* PURE */
@import url('https://unpkg.com/purecss@1.0.0/build/pure-min.css');
@import url('https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css');

body {
    font-family: 'Open Sans', sans-serif;
    padding: 1em;
    background-color: #4E4E50;
}

.center{text-align: center}

button{
    cursor: pointer;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    outline: 0;
    margin: .65em;
    padding: 1em;
    padding-top: .5em;
    padding-bottom: .5em;
    border-radius: .25em;
    border: solid 3px #1A1A1D;
    background-color: #d0d0d0;
    color: #e62546;
    font-weight: bold;
    box-shadow: 1px 1px 0px #e62546;
}

button:not(.disabled):hover{
    background-color: #e4e4e4;
    box-shadow: 2px 2px 0px #e62546;
}

button:not(.disabled):active{
    color: #1A1A1D;
    background-color: #e62546;
    box-shadow: 1px 1px 0px #e62546;
}

button.disabled{
    cursor: no-drop;
    background-color: #1A1A1D;
    color: #4E4E50;
}

