@import '../../styles.scss';

.leaderboard-row {
    padding-top: .5em;
    line-height: 1.5em;
    padding-bottom: .5em;
}

.leaderboard-row:nth-child(1){
    font-weight: bold;
}

.leaderboard-row div:nth-child(1){
    color:  $primary;
    font-weight: bold;
    text-align: right;
}