@import '../styles.scss';

#main-container{
    margin-top: 3em;
    margin-bottom: 3em;
}

header{
    top:0;
    left:0;
    width: 100vw;
    height: 3.5em;
    position: fixed;
    text-align: center;
    box-shadow: $shadow;
    background-color: $dark;
}

header > h1{
    margin: 0;
    cursor: pointer;
}

#router-outlet-container{
    padding-top: 1em;
}

footer{
    left:0;
    bottom: 0;
    width: 100vw;
    position: fixed;
    padding-bottom: .2em; 
    border-top: solid 1px $dark; 
    background-color: $background;
}

footer span{
    float:left;
    margin:.5em;
    margin-right: .5em;
    vertical-align: -webkit-baseline-middle;
}

img{
    margin:.3em;
    height: 25px;
    float: right;
    margin-top:.5em;
}

