@import '../../styles.scss';

#keyboard-container{
    padding: 0;
    padding-top: 1em;
    border-radius: .2em;
    padding-bottom: 1em;
    border: solid 4px $secondary;
}

button{
    width:90%;
    padding: 0;
    margin-left: 5%;
    margin-right: 5%; 
    font-size: 1.4em;
    margin-top: .3em;
    line-height: 1.7em;
    margin-bottom: .3em;
    font-family: $video-game-font;
}


